<p id="notice"><%= notice %></p>

<p>
  <strong>Username:</strong>
  <%= @user_profile.username %>
</p>

<p>
  <strong>Location:</strong>
  <%= @user_profile.location %>
</p>

<%= link_to 'Edit', edit_user_profile_path(@user_profile) %> |
<%= link_to 'Back', user_profiles_path %>
